:root {
    --darkerGreen: rgb(5, 16, 2);
    --darkGreen: rgb(27, 37, 14);
    --baseGreen: rgb(56, 66, 38);
    --lightGreen: rgb(124, 129, 95);
    --lighterGreen: rgb(158, 160, 138);
    --lightestGreen: rgba(158, 160, 138, 0.5);
    --purple: rgb(121, 34, 172);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.parent {

}

.parent > * {
    height: 100vh;
}

.section {}

.section.left {
    width: 40%;
    background-image: url('./imgs/bg.jpg');
    background-size: cover;
    color: #FFF;
    position: relative;
}

.title-bar {
    margin-top: 5rem;
    padding: 3rem;
    font-family: 'Fredoka One', cursive;
    background-color: rgba(0,0,0,0.65);
}

.title {
    font-size: 4rem;
}

.title.logo {
    padding-right: 1rem;
}

.caption-bar {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

.section.right {
    background-color: var(--lightestGreen);
    width: 60%;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
}

.margin {
    padding: 0 2rem;
}

.section.right > .wrapper {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.hero-text {
    font-size: 1.333rem;
    color: var(--baseGreen);
}

.hero-text > p:nth-child(2) {
    margin: 4rem 0;
    font-weight: bold;
    color: var(--darkGreen);
}

.form.container {
    width: 100%;
    background-color: var(--darkerGreen);
    color: var(--purple);
    padding: 2rem 0;
    -webkit-box-shadow: 0px 13px 9px -9px rgba(0,0,0,0.95); 
    box-shadow: 0px 13px 9px -9px rgba(0,0,0,0.95);
}

.colFlex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-title {
    color: #E4E4E4;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

fieldset {
    display: flex;
    border: none;
    gap: 10px;
}

fieldset > * {
    flex: 1;
}

label {
    color: var(--lighterGreen);
    text-transform: uppercase;
    font-size: 0.85rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.33rem 0;
}

button {
    background-color: transparent;
    border: 3px solid var(--purple);
    border-radius: 15px;
    color: var(--purple);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

button:hover {
    background-color: var(--purple);
    color: #E4E4E4;
    transition: all 300ms ease-in-out;
}

.swap-form.container {
    color: var(--lighterGreen);
}

.log-in {
    font-weight: bold;
    color: var(--purple);
}

img {
    width: 100%;
    height: 100%;
}